section.title
  background-color $color-heading
  h1
    color $color-inverse

section.img-left
  display block
  h2
    text-align center
  figure.image
    float left
    margin-left 2em
    margin-right 4em
  ul ul, ol ol, ul ol, ol ul
    list-style-position inside
