section.img-left
  display block
  h2
    display table
    margin 0 auto 1em auto
    text-align center
  figure.image
    float left
    margin-left 2em
    margin-right 4em
  ul ul, ol ol, ul ol, ol ul
    list-style-position inside
